@using Capstone.Web.Models
@model ParkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@Model.ParkName</h1>
    <img src="~/Content/@Model.ImageLocation" />
    <div>
        <div>State: @Model.State</div>
        <div>Acreage: @Model.Acreage</div>
        <div>Elevation: @Model.ElevationInFeet</div>
        <div>Miles of Trail: @Model.MilesOfTrail</div>
        <div>Number of Campsites: @Model.NumberOfCampsites</div>
        <div>Climate: @Model.Climate</div>
        <div>Founded in: @Model.YearFounded</div>
        <div>Annual Visitor Count: @Model.AnnualVisitorCount</div>
        " @Model.InspirationalQuote " - @Model.InspirationalQuoteSource</div>
    <div>Entry Fee:@Model.EntryFee.ToString("C")</div>
    <div>Number of Animal Species: @Model.NumberOfAnimalSpecies</div>
    </div>
    @Model.ParkDescription
</div>

<div>
    <table>
        Five Day Forecast
        <tr>
            High Temperature
            <td>Day 1: High of @Model.FiveDayForecast[0].High</td>
            <td>Day 2: High of @Model.FiveDayForecast[1].High</td>
            <td>Day 3: High of @Model.FiveDayForecast[2].High</td>
            <td>Day 4: High of @Model.FiveDayForecast[3].High</td>
            <td>Day 5: High of @Model.FiveDayForecast[4].High</td>
        </tr>
        <tr>
            <td>Low of @Model.FiveDayForecast[0].Low</td>
            <td>Low of @Model.FiveDayForecast[1].Low</td>
            <td>Low of @Model.FiveDayForecast[2].Low</td>
            <td>Low of @Model.FiveDayForecast[3].Low</td>
            <td>Low of @Model.FiveDayForecast[4].Low</td>
        </tr>
    </table>
</div>

@using (Html.BeginForm("Detail", "Home", FormMethod.Get))
{
    @Html.HiddenFor(m => m.ParkCode, Model.ParkCode)
    @Html.HiddenFor(m => m.ParkName, Model.ParkName)
    @Html.HiddenFor(m => m.State, Model.State)
    @Html.HiddenFor(m => m.Acreage, Model.Acreage)
    @Html.HiddenFor(m => m.ElevationInFeet, Model.ElevationInFeet)
    @Html.HiddenFor(m => m.MilesOfTrail, Model.MilesOfTrail)
    @Html.HiddenFor(m => m.NumberOfCampsites, Model.NumberOfCampsites)
    @Html.HiddenFor(m => m.Climate, Model.Climate)
    @Html.HiddenFor(m => m.YearFounded, Model.YearFounded)
    @Html.HiddenFor(m => m.AnnualVisitorCount, Model.AnnualVisitorCount)
    @Html.HiddenFor(m => m.InspirationalQuote, Model.InspirationalQuote)
    @Html.HiddenFor(m => m.InspirationalQuoteSource, Model.InspirationalQuoteSource)
    @Html.HiddenFor(m => m.EntryFee, Model.EntryFee)
    @Html.HiddenFor(m => m.NumberOfAnimalSpecies, Model.NumberOfAnimalSpecies)
    @Html.HiddenFor(m => m.ParkDescription, Model.ParkDescription)
    <div>
        @Html.RadioButtonFor(m => m.NeedsConverted, true)
        <button>Convert to </button>
    </div>
    
}


