@using Capstone.Web.Models
@model ParkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>@Model.ParkName</h1>
    <img src="~/Content/@{Model.ParkCode + ".png"} " />
    <div>
        State: @Model.State
    </div>
    <div>
        Acreage: @Model.Acreage
    </div>
    <div>
        Elevation: @Model.ElevationInFeet
    </div>
    <div>
        Miles of Trail: @Model.MilesOfTrail
    </div>
    <div>
        Number of Campsites: @Model.NumberOfCampsites
    </div>
    <div>
        Climate: @Model.Climate
    </div>
    <div>
        Founded in: @Model.YearFounded
    </div>
    <div>
        Annual Visitor Count: @Model.AnnualVisitorCount
    </div>
    <div>
        @Model.InspirationalQuote - @Model.InspirationalQuoteSource
    </div>
    <div>
        Entry Fee: @Model.EntryFee
    </div>
    <div>
        Number of Animal Species: @Model.NumberOfAnimalSpecies
    </div>
    <div>
        @Model.ParkDescription
    </div>
</div>

@using (Html.BeginForm("Detail", "Home", FormMethod.Get))
{
    @Html.HiddenFor(m => m.ParkName)
    @Html.HiddenFor(m => m.State)
    @Html.HiddenFor(m => m.Acreage)
    @Html.HiddenFor(m => m.ElevationInFeet)
    @Html.HiddenFor(m => m.MilesOfTrail)
    @Html.HiddenFor(m => m.NumberOfCampsites)
    @Html.HiddenFor(m => m.Climate)
    @Html.HiddenFor(m => m.YearFounded)
    @Html.HiddenFor(m => m.AnnualVisitorCount)
    @Html.HiddenFor(m => m.InspirationalQuote)
    @Html.HiddenFor(m => m.InspirationalQuoteSource)
    @Html.HiddenFor(m => m.EntryFee)
    @Html.HiddenFor(m => m.NumberOfAnimalSpecies)
    @Html.HiddenFor(m => m.ParkDescription)
}


